RewriteEngine on


RewriteRule ^index(\/.*)*$ /reports/index.php
RewriteRule ^apvhdr-age(\/.*)*$ /reports/apvhdr-age.php
RewriteRule ^apvhdr(\/.*)*$ /reports/apvhdr.php
RewriteRule ^ap-supplier(\/.*)*$ /reports/ap-supplier.php
RewriteRule ^ap-project(\/.*)*$ /reports/ap-project.php
RewriteRule ^cvhdr(\/.*)*$ /reports/cvhdr.php
RewriteRule ^cv-sched(\/.*)*$ /reports/cv-sched.php
#RewriteRule ^cv-sched(\/.*)*$ /reports/cv-sched-memo.php
RewriteRule ^cv-sched-raw(\/.*)*$ /reports/cv-sched-raw.php
RewriteRule ^chk-day(\/.*)*$ /reports/chk-day.php
RewriteRule ^print-chk-day(\/.*)*$ /reports/print-chk-day.php
RewriteRule ^accounts-payable-print(\/.*)*$ /reports/accounts-payable-print.php
RewriteRule ^check-print(\/.*)*$ /reports/check-print.php
RewriteRule ^print-cv-sched-raw(\/.*)*$ /reports/print-cv-sched-raw.php
RewriteRule ^print-cvhdr(\/.*)*$ /reports/print-cvhdr.php


