RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [PT,L]
#RewriteRule ^(.*)$ $1 [PT,L]




RewriteRule ^index(\/.*)*$ index.php
RewriteRule ^dashboard(\/.*)*$ /index.php
RewriteRule ^login(\/.*)*$ login.php
#RewriteRule ^AuthUserLogin(\/.*)*$ /mfi-boss/api/

#/mfi-boss/www/api/AuthUserLogin
RewriteRule ^logout(\/.*)*$ /logout.php	
#RewriteRule ^projects(\/.*)*$ /index.php


RewriteRule ^daily(.*)$ daily.php
RewriteRule ^monthly(.*)$ monthly.php
RewriteRule ^project-status(.*)$ project-status.php

